= render "items/header"
.form
  .form__title
    ユーザー登録
  .form-contents
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      .form-contents__title 
        ユーザー名
      .form-contents__items
        = f.text_field :username, placeholder: 'Sherror_kun', autofocus: true, autocomplete: 'username', class: 'form-input'

      .form-contents__title
        メールアドレス
      .form-contents__items
        = f.email_field :email, autofocus: true, autocomplete: "email", autofocus: true, class: 'form-input'
      .form-contents__title
        パスワード
        - if @minimum_password_length
          %em
            (#{@minimum_password_length} characters minimum)
        %br/
        .form-contents__items
          = f.password_field :password, autocomplete: "new-password", autofocus: true, class: 'form-input'
      .form-contents__title
        パスワード(確認用)
        %br/
      .form-contents__items
        = f.password_field :password_confirmation, autocomplete: "new-password" , autofocus: true, class: 'form-input'
      .actions
        = f.submit "登録する"
  .login_btn
    = render "devise/shared/links"
