.main
  = form_with model: @post, local: true do |f|
    .formTitle
      = f.text_field :title, placeholder: "記事タイトル", class: "formTitle"
    .formBox
      .formContents
        = f.label "エラーが起きたコード"
        = f.text_area :code, placeholder: "font-size: 20px", id: "form1", class: 'formInput'
        = f.label "理想(etc.実装しようとした機能、目指した状態など)"
        = f.text_area :ideal, placeholder: "テキストフォントのサイズを大きくしたい", id: "form2", class: 'formInput'
        = f.label "原因(今何が起きていたか)"
        = f.text_area :cause, placeholder: "font-size: 25pxの後の ; 抜け", id: "form3", class: 'formInput'
        = f.label "どうしたら解決したか"
        = f.text_area :solution, placeholder: " ; を入れると無事解決した", id: "form4", class: 'formInput'
        = button_to '投稿する', {controller: 'posts', action: :create}, class: 'btn'
      .formPreview
        #markdownPreview1.markdownPreview
        #markdownPreview2.markdownPreview
        #markdownPreview3.markdownPreview
        #markdownPreview4.markdownPreview