= render "items/header"

.wrapper
  .posts
    .posts__title
      = @post.title
    .posts__name
      = "#{@user.username}さんのエラー"
    .posts__box
      .posts__boxTitle
        エラーが起きていたコード
      = markdown(@post.code).html_safe
    .posts__box
      .posts__boxTitle
        理想(etc.実装しようとした機能、目指した状態など)
      = markdown(@post.ideal).html_safe
    .posts__box
      .posts__boxTitle
        原因(今何が起きていたか)
      = markdown(@post.cause).html_safe
    .posts__box
      .posts__boxTitle
        どうしたら解決したか
      = markdown(@post.solution).html_safe